openapi: 3.2.0
info:
  title: Crawlbase Leads API
  description: Crawlbase (formerly ProxyCrawl) is a web crawling and scraping platform.
  version: '1.0'
  contact:
    name: Crawlbase
    url: https://crawlbase.com
servers:
- url: https://api.crawlbase.com
  description: Crawlbase API host (all products share this host)
security:
- tokenAuth: []
tags:
- name: Leads API
  description: Publicly visible email discovery for a domain (legacy).
paths:
  /leads:
    get:
      operationId: getLeads
      tags:
      - Leads API
      summary: Discover emails for a domain
      description: Returns publicly visible email addresses associated with a bare `domain`, with the source URLs where each was found. Billed at one credit per ten emails. Documented by Crawlbase as closed to new sign-ups since 2024-10-01.
      parameters:
      - name: domain
        in: query
        required: true
        description: Bare domain (no scheme or path), for example slack.com.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Maximum emails to return (default 10).
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: Discovered emails with source URLs and available metadata.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        pc_status:
          type: integer
        error:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: query
      name: token
      description: 'Crawlbase authentication token passed as the `token` query parameter. Each account has two tokens: a Normal (TCP) token for static content and a JavaScript token for headless-Chrome rendering.'
