openapi: 3.2.0
info:
  title: Crawlbase Scraper API
  description: Crawlbase (formerly ProxyCrawl) is a web crawling and scraping platform.
  version: '1.0'
  contact:
    name: Crawlbase
    url: https://crawlbase.com
servers:
- url: https://api.crawlbase.com
  description: Crawlbase API host (all products share this host)
security:
- tokenAuth: []
tags:
- name: Scraper API
  description: Ready-made structured-data extractors for supported sites (legacy).
paths:
  /scraper:
    get:
      operationId: scrape
      tags:
      - Scraper API
      summary: Scrape a supported site to structured JSON
      description: Applies a named `scraper` to the target `url` and returns provider-specific structured JSON (for example, amazon-product-details, google-serp, linkedin-company). Documented by Crawlbase as a legacy endpoint; the Crawling API's `&scraper=` parameter offers the same extractors.
      parameters:
      - $ref: '#/components/parameters/Url'
      - name: scraper
        in: query
        required: true
        description: Name of the scraper/extractor to apply (see the Crawlbase scraper catalog).
        schema:
          type: string
      - $ref: '#/components/parameters/Country'
      - name: javascript
        in: query
        required: false
        description: Render the page in Chrome before scraping (requires the JavaScript token).
        schema:
          type: boolean
      - name: premium
        in: query
        required: false
        description: Route through the premium residential proxy network.
        schema:
          type: boolean
      responses:
        '200':
          description: Structured JSON for the scraped page. Fields vary per scraper.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    Url:
      name: url
      in: query
      required: true
      description: Fully URL-encoded target URL, including http:// or https://.
      schema:
        type: string
    Country:
      name: country
      in: query
      required: false
      description: Two-letter ISO 3166 country code to geolocate the request (for example US, DE, GB).
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        pc_status:
          type: integer
        error:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: query
      name: token
      description: 'Crawlbase authentication token passed as the `token` query parameter. Each account has two tokens: a Normal (TCP) token for static content and a JavaScript token for headless-Chrome rendering.'
